
html, body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #1e459b;
}


.img-Encabezado {
  width: 100%;
  display: block;
}



.contenedor {
  position: relative;
}


.cuadroamarrillo-grid {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 850px;
  background: #e5c524;
  padding: 30px 40px;
  border-radius: 50px;
  border: 5px solid #fff;
  text-align: center;
  transition: box-shadow .3s ease;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;

}

.cuadroamarrillo-grid:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.subtitulo1 {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}


.cuadroamarrillo-señalizado {
  margin-top: 150px;
  background: #e5c524;
  width: 500px;
  padding: 18px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;

}

.señalizacion-text {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-right: 40px;
   margin-top: 10px;
}


.titulo1 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
}

.text1 {
  position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.contenedor-img1 {
  display: flex;
  justify-content: center; 
  position: relative; 
}

.imagen-text1 {
  width:860px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-600px) translateX(230px);
}


.imagen-text1:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.contenedor-img2 {
  display: flex;
  justify-content: center; 
  position: relative; 
}

.imagen-text2 {
   width:800px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-440px) translateX(-290px);
}

.imagen-text2:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}


.text2 {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-880px) translateX(900px);

}

.text2-g{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-900px) translateX(900px);
}
.lista1 {
  margin-top: 2px;
  font-size: 19px;
  line-height: 1.6;
  transform: translateY(-940px) translateX(900px);
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}


.cuadroamarrillo-señalizado2 {
  margin-top: 70px;
  background: #e5c524;
  width: 700px;
  height: 100px;
  padding: 18px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;
  transform: translateY(-900px);
}

.señalizacion-text2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-right: 40px;
  margin-top: 10px;
}


.text3 {
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-900px) translateX(100px);
}

.contenedor-img3 {
  display: flex;
  justify-content: center; 
  position: relative; 
}

.imagen-text3 {
  width:1330px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-870px) translateX(-0px);
}

.imagen-text3:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.text4 {
  color: #1e459b;
  margin-top: 50px;
  line-height: 1.5;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-900px) translateX(100px);
}

.footer {
  background-color: #1e459b;
  padding: 60px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: -650px;
}


.footer-top-text {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
}

.footer-top-text .yellow {
  color: #e5c524;
}

.footer-top-text .white {
  color: #ffffff;
}

.footer-top-text .green {
  color: #e5c524;
}


.footer-container {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  gap: 10px;
}


.logo {
  width: 300px;
  margin-bottom: 20px;
  height: auto;
}

.subscribe-box label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.subscribe-box input {
  background: #e5c524;
  border-radius: 35px;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #000;
}

.subscribe-box {
  margin-left: 50px;
}


.footer-column {
  margin-top: 100px;
  position: relative;
  padding-left: 25px;
}


.footer-column:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}


.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
  font-size: 14px;
  width: fit-content;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  padding: 6px;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 13px;
}


.footer {
  position: relative;
  overflow: hidden;
}

.footer-deco {
  position: absolute;
  width: 130px;
  opacity: 0.9;
  pointer-events: none;
}


.deco1 {
  top: 10px;
  left: 10px;
}


.deco2 {
  bottom: 20px;
  right: 30px;
  top: 35%;
}

.deco3 {
  top: 85%;
  transform: translateY(-50%);
  right: 0px;
}

.deco4{
  top: 25px;
  transform: translateX(1300px) scaleX(-1);
}

.deco44{
  top: 25px;
  transform: translateX(1300px) scaleX(-1);
}
@media (max-width: 768px) {


  * {
    transform: none !important;
  }

  section,
  header,
  div {
    position: static !important;
  }


.cuadroamarrillo-grid {
    position: static;             
    transform: none;
    width: 90%;
    max-width: 100%;
    margin: -2px auto;
    padding: 5px 18px;
    border-radius: 25px;
    font-size: 20px;
  }

  .subtitulo1 {
    font-size: 22px;
    line-height: 1.3;
  }

 
  .cuadroamarrillo-señalizado,
  .cuadroamarrillo-señalizado2 {
    width: 90%;
    margin: 30px auto;
    height: auto;
    margin-left: 0px;
  }

  .señalizacion-text,
  .señalizacion-text2 {
    margin: 0;
    font-size: 22px;
  }

  
  .text2,
  .text2-g,
  .text3,
  .text4 {
    margin: 20px auto;
    padding: 0 20px;
    font-size: 18px;
    text-align: left;
  }

  .titulo1{
   margin: 20px auto;
    padding: 0 20px;
    font-size: 18px;
    margin-left: -12px;
    margin-top: -5px;
  }

  .text1{
    font-size: 18px;
    margin-left: 10px;
    margin-top: -15px;
    position: static;     
  }

  
  .contenedor-img1,
  .contenedor-img2,
  .contenedor-img3 {
    display: block;
    margin: 30px auto;
  }


  .imagen-text3 {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .imagen-text1{
    margin-top: 35px;
     width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
  }
  .imagen-text2{
     width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  /* ===== LISTA ===== */
  .lista1 {
    margin: 20px auto;
    padding: 0 40px;
    font-size: 18px;
  }

  /* ===== FOOTER ===== */
  .footer {
    margin-top: 40px;
    padding: 40px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-column {
    margin-top: 0;
    padding-left: 0;
    
  }

  .footer-column::before {
    display: none;
  }

  .subscribe-box {
    margin: 0 auto;
    width: 100%;
  }

  .logo {
    width: 220px;
    margin: 0 auto 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .footer-deco {
    display: none;
  }
}




.cuadroamarrillo-señalizado3{
  margin-top: 150px;
  background: #e5c524;
  width: 650px;
  padding: 18px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;
}

.señalizacion-text3{
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-right: 40px;
   margin-top: 10px;
}

.titulo3{
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
}

.imagen-text4{
  width:830px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-370px) translateX(230px);
}

.imagen-text4:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.titulo4{
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
  transform: translateY(-400px) translateX(-1px);
}

.text5{
  position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-390px) translateX(-1px);
}

.imagen-text5{
   width:830px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-390px) translateX(40px);
}

.imagen-text5:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.titulo5{
   margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
  transform: translateY(-400px) translateX(-5px);  
}

.text6{
  position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(12px) translateX(-70px);
}

.text3-g{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-5px) translateX(0px);
}
.lista2{
   margin-top: 2px;
  font-size: 19px;
  line-height: 1.6;
  transform: translateY(-45px) translateX(-10px);
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text7{
   position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-20px) translateX(-70px);
}

.titulo6{
    margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
  transform: translateY(-400px) translateX(-3px);   
}

.text4-g{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-430px) translateX(70px);    
}

.lista3{
   margin-top: 2px;
  font-size: 19px;
  line-height: 1.6;
  transform: translateY(-470px) translateX(70px);
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text8{
  position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-485px) translateX(0px);
}

.imagen-text6{
  width:1400px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-475px) translateX(12px); 
}

.imagen-text6:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.titulo7{
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
  transform: translateY(-480px) translateX(0px);    
}

.text9{
  position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-485px) translateX(0px);  
}

.footer2 {
  background-color: #1e459b;
  padding: 60px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: -450px;
}


.footer-top-text2 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
}

.footer-top-text2 .yellow {
  color: #e5c524;
}

.footer-top-text2 .white {
  color: #ffffff;
}

.footer-top-text2 .green {
  color: #e5c524;
}


.footer-container2 {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  gap: 10px;
}


.logo2 {
  width: 300px;
  margin-bottom: 20px;
  height: auto;
}

.subscribe-box2 label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.subscribe-box2 input {
  background: #e5c524;
  border-radius: 35px;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #000;
}

.subscribe-box2 {
  margin-left: 50px;
}


.footer-column2 {
  margin-top: 100px;
  position: relative;
  padding-left: 25px;
}


.footer-column2:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}


.footer-column2 h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
  font-size: 14px;
  width: fit-content;
}


.social-icons2 {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.social-icons2 img {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  padding: 6px;
}


.footer-bottom2 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 13px;
}


.footer2 {
  position: relative;
  overflow: hidden;
}

.footer-deco2 {
  position: absolute;
  width: 130px;
  opacity: 0.9;
  pointer-events: none;
}


.deco17 {
  top: 10px;
  left: 10px;
}


.deco28 {
  bottom: 20px;
  right: 30px;
  top: 35%;
}

.deco39 {
  top: 85%;
  transform: translateY(-50%);
  right: 0px;
}

@media (max-width: 1200px) {

 
  .imagen-text4,
  .imagen-text5,
  .imagen-text6,
  .img-Encabezado {
    width: 100%;
    max-width: 100%;
    float: none;
    transform: translate(0, 0);
    display: block;
    margin: 20px auto;
  }

 
  .titulo3,  .titulo6, .titulo7,
  .text1,  .text4-g, .text7, .text8, .text9,
 .lista3 {
    transform: translate(0, 0);
    margin-left: 20px;
    margin-right: 20px;
  }

 
  .cuadroamarrillo-señalizado3 {
    width: 90%;
    margin-top: 120px;
    font-size: 5px;    
  }

  .titulo3{
    margin-top: 10px;
    margin: 20px auto;
  }

.titulo4{
  margin-top: 10px;
    margin: 20px auto;
}

.text5{
  margin-left: 20px;
    margin-right: 20px;
  position: static;
}
.señalizacion-text3 {
    margin-left: 12px;
    font-size: 25px;
  }

.titulo5{
  margin-top: 19px;
  margin-right: -35px;
   position: static;
}

.text6{
  margin-top: 14px;
  margin-left: 40px;
    margin-right: 20px;
  position: static;
   
}

.text3-g{
   margin-top: 15px;
}

.lista2{
  margin-top: -15px;
}

.text7{
   position: static;
}

.text4-g{
  margin-top: 5px;
}

.lista3{
  margin-top: -15px;
  margin-left: -45px;
}

.text8{
   position: static;
}

.contenedor-img3{
   margin-bottom: 40px; 
}

.titulo7{
   margin: 100px auto;
   margin-top: -40px;
}

.text9{
  margin: 240px auto;
   margin-top: -90px;
   position: static;
}
  
  .footer-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }

  .footer-column2,
  .footer-left2 {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding-left: 0 !important;
  }

  .footer-column2:not(:first-child)::before {
    display: none; 
  }

  .social-icons2 {
    justify-content: center;
  }
}


@media (max-width: 992px) {

  .titulo3, .titulo4, .titulo5, .titulo6, .titulo7,
  .text1, .text5, .text6, .text3-g, .text4-g, .text7, .text8, .text9,
  .lista2, .lista3 {
    font-size: 1.4rem;
  }

  .cuadroamarrillo-señalizado3 {
    font-size: 2rem;
    padding: 15px 15px;
    margin-top: 100px;
  }
}


@media (max-width: 768px) {

  .imagen-text4,
  .imagen-text5,
  .imagen-text6,
  .img-Encabezado {
    width: 100%;
    max-width: 100%;
    transform: translate(0, 0);
    float: none;
    margin: 15px auto;
    display: block;
  }

  .titulo3, .titulo4, .titulo5, .titulo6, .titulo7,
  .text1, .text5, .text6, .text3-g, .text4-g, .text7, .text8, .text9,
  .lista2, .lista3 {
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .cuadroamarrillo-señalizado3 {
    width: 95%;
    font-size: 1.5rem;
    padding: 12px;
    margin-top: 80px;
  }
}


@media (max-width: 576px) {

  .titulo3, .titulo4, .titulo5, .titulo6, .titulo7,
  .text1, .text5, .text6, .text3-g, .text4-g, .text7, .text8, .text9,
  .lista2, .lista3 {
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cuadroamarrillo-señalizado3 {
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 60px;
  }

  
  .footer-container2 {
    flex-direction: column;
    align-items: center;
  }

  .footer-column2,
  .footer-left2 {
    max-width: 100%;
    text-align: center;
  }

  .social-icons2 {
    justify-content: center;
  }

  .footer-bottom2 {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .deco17 {
    top: 80px;   
    left: -0px;   
    width: 100px; 
  }
}





.cuadroamarrillo-señalizado4{
  margin-top: 150px;
  background: #e5c524;
  width: 650px;
  padding: 18px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;
}

.imagen-text7{
  width:1310px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(0px) translateX(0px); 
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.imagen-text7:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.titulo8{
  color: #1e459b;
  margin-top: 40px;
  line-height: 2.0;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-30px) translateX(100px);
}

.contenedor-img4 {
  display: flex;
  justify-content: center; 
  position: relative; 
}

.text10{
   position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-45px) translateX(30px);  
}

.imagen-text8{
  width:800px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-20px) translateX(-260px);
}

.imagen-text8:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.titulo9{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-520px) translateX(910px);
  text-align: left;
}

.text11{
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  color: #1e459b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-555px) translateX(910px);
}

.titulo10{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-590px) translateX(910px);
  text-align: left; 
}

.text5-g{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-620px) translateX(915px);    
}

.lista4{
  margin-top: 2px;
  font-size: 19px;
  line-height: 1.6;
  transform: translateY(-660px) translateX(905px);
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.titulo11{
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-670px) translateX(100px);
  text-align: left; 
}

.text6-g{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-700px) translateX(100px);    
}

.lista5{
   margin-top: 2px;
  font-size: 19px;
  line-height: 1.6;
  transform: translateY(-740px) translateX(100px);
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px; 
}

.titulo12{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-750px) translateX(100px);
  text-align: left; 
}
.text12{
  text-align: left;
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-770px) translateX(99px);
  text-align: left;  
}

.titulo13{
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-780px) translateX(100px);
  text-align: left; 
}

.text7-g{
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-810px) translateX(100px);  
}

.lista6{
  margin-top: 2px;
  font-size: 19px;
  line-height: 1.6;
  transform: translateY(-850px) translateX(100px);
   color: #1e459b;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;  
}

.imagen-text9{
  width:700px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-1140px) translateX(330px);
}

.imagen-text9:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.titulo14{
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(-1260px) translateX(100px);
  text-align: left;  
}

.contenedor-img9 {
  display: flex;
  justify-content: center; 
  position: relative; 
}


.text13-start{
  text-align: left;
  color: #1e459b;
  margin-top: 40px;
  line-height: 1.2;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-1270px) translateX(100px);
  text-align: left; 
}

.imagen-text10{
   width:1370px;
  height: auto;
  float: right;
  transition: box-shadow .3s ease;
  transform: translateY(-1290px) translateX(0px); 
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.imagen-text10:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.text15{
  position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  transform: translateY(-1275px) translateX(10px);  
}

.footer1 {
  background-color: #1e459b;
  padding: 60px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 220px 70px;  
  margin-top: -920px;
}


.footer-top-text1 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
}

.footer-top-text1 .yellow {
  color: #e5c524;
}

.footer-top-text1 .white {
  color: #ffffff;
}

.footer-top-text1 .green {
  color: #e5c524;
}


.footer-container1 {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  gap: 10px;
}


.logo1 {
  width: 300px;
  margin-bottom: 20px;
  height: auto;
}

.subscribe-box1 label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.subscribe-box1 input {
  background: #e5c524;
  border-radius: 35px;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #000;
}

.subscribe-box1 {
  margin-left: 50px;
}


.footer-column1 {
  margin-top: 100px;
  position: relative;
  padding-left: 25px;
}


.footer-column1:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}


.footer-column1 h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
  font-size: 14px;
  width: fit-content;
}


.social-icons1 {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.social-icons1 img {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  padding: 6px;
}


.footer-bottom1 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 13px;
}


.footer1 {
  position: relative;
  overflow: hidden;
}

.footer-deco1 {
  position: absolute;
  width: 130px;
  opacity: 0.9;
  pointer-events: none;
}


.deco12 {
  top: 10px;
  left: 10px;
}


.deco23 {
  bottom: 20px;
  right: 30px;
  top: 35%;
}

.deco34 {
  top: 85%;
  transform: translateY(-50%);
  right: 0px;
}


@media (max-width: 1200px) {

 
  .imagen-text7,
  .imagen-text8,
  .imagen-text9,
  .imagen-text10 {
    max-width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 20px auto;
  }

 
  .cuadroamarrillo-señalizado4 {
    width: 90%;
    font-size: 30px;
    margin-top: 120px;
  }

  
  .titulo8, .titulo9, .titulo10, .titulo11,
  .titulo12, .titulo13, .titulo14,
  .text10, .text11, .text5-g, .text6-g,
  .text12, .text7-g, .text13-start, .text15,
  .lista4, .lista5, .lista6 {
    margin-left: 20px;
    margin-right: 20px;
    transform: translate(0,0);
  }
  
  .text10{
    position: static;
  }
  .subtitulo1{
    position: static;
    
  }

 
  .footer1 {
    padding: 220px 70px;
  }

  .footer-container1 {
    grid-template-columns: 280px 1fr 1fr 1fr;
    gap: 10px;
  }

  .footer-column1:not(:first-child)::before {
    height: 150px;
  }

  .social-icons1 {
    justify-content: flex-start;
  }
}


@media (max-width: 992px) {

  .cuadroamarrillo-señalizado4 {
    width: 95%;
    font-size: 28px;
    margin-top: 100px;
  }

  .titulo8, .titulo9, .titulo10, .titulo11,
  .titulo12, .titulo13, .titulo14 {
    font-size: 28px;
  }

  .text10, .text11, .text5-g, .text6-g,
  .text12, .text7-g, .text13-start, .text15,
  .lista4, .lista5, .lista6 {
    font-size: 18px;
  }

  .footer-container1 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}


@media (max-width: 768px) {

  .imagen-text7,
  .imagen-text8,
  .imagen-text9,
  .imagen-text10 {
    width: 100%;
    margin-top: 15px;
  }

  .titulo8, .titulo9, .titulo10, .titulo11,
  .titulo12, .titulo13, .titulo14 {
    font-size: 24px;
  }

  .text10, .text11, .text5-g, .text6-g,
  .text12, .text7-g, .text13-start, .text15,
  .lista4, .lista5, .lista6 {
    font-size: 16px;
  }


  .footer1 {
    padding: 150px 30px;
  }

  .footer-container1 {
    grid-template-columns: 1fr 1fr;
  }

  .footer-column1:not(:first-child)::before {
    display: none;
  }

  .social-icons1 {
    justify-content: center;
  }
}


@media (max-width: 576px) {

  .cuadroamarrillo-señalizado4 {
    width: 100%;
    font-size: 20px;
    margin-top: 60px;
  }

  .titulo8, .titulo9, .titulo10, .titulo11,
  .titulo12, .titulo13, .titulo14 {
    font-size: 20px;
  }

  .text10, .text11, .text5-g, .text6-g,
  .text12, .text7-g, .text13-start, .text15,
  .lista4, .lista5, .lista6 {
    font-size: 14px;
  }

  
  .footer1 {
    padding: 100px 20px;
  }

  .footer-container1 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .social-icons1 {
    justify-content: center;
  }

  .footer-bottom1 {
    flex-direction: column;
    gap: 10px;
  }

  .subscribe-box1{
    justify-content: center;
  }
}

