html, body {
  overflow-x: hidden;
}


.custom-navbar{
  background-color: #1e459b !important;
  height: 200px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;   
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 52px; 
}

.nav-img-right {
  position: absolute;
  top: 100px;   
  right: 300px;  
  width: 150px;  
  height: auto;
}

.nav-img-lef{
  position: absolute;
  bottom: -10px;    
  right: 75%;       
  transform: translateX(50%); 
  width: 150px;
  top: 0;
}

.img-container{
    width: 100%;
  display: flex;
  justify-content: center;
}

.fondo-img{
    width: 1000px;
    height: auto;   
}

.text-center{
    margin-top: 50px;
    color: #1e459b;
   font-weight: 750; 
   font-size: 40px;
}
 
.cuadrado-wsp{
    background-color: #e5c524 ;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    margin: 0 auto;
}

.whastapp-xd{
    width: 45px;
    margin-left: 10px;
}
.contactanos{
    margin-top: -35px;
    margin-left: 60px;
    color: #1e459b;
     font-family: "Poppins", sans-serif;   
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px; 
}


@media screen and (max-width: 1024px) {
  .custom-navbar {
    height: 160px;
  }

  .navbar-brand {
    font-size: 40px;
  }

  .nav-img-right {
    top: 80px;
    right: 150px;
    width: 120px;
  }

  .nav-img-lef {
    width: 120px;
    top: 0;
    right: 70%;
  }


  .fondo-img {
    width: 80%;
    height: auto;
  }


  .text-center {
    font-size: 32px;
    margin-top: 30px;
  }


  .cuadrado-wsp {
    width: 180px;
    height: 40px;
  }

  .whastapp-xd {
    width: 35px;
    margin-left: 8px;
  }

  .contactanos {
    margin-top: -28px;
    margin-left: 50px;
    font-size: 16px;
  }

 
  .footer-top-text {
    font-size: 28px;
    text-align: center;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-column {
    font-size: 16px;
  }

  .social-icons img {
    width: 30px;
    margin: 0 5px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}


@media screen and (max-width: 767px) {
  .custom-navbar {
    height: 120px;
  }

  .navbar-brand {
    font-size: 28px;
    text-align: center;
  }

  .nav-img-right {
    top: 60px;
    right: 100px;
    width: 90px;
  }

  .nav-img-lef {
    width: 90px;
    top: 0;
    right: 65%;
  }


  .fondo-img {
    width: 100%;
    height: auto;
  }

  
  .text-center {
    font-size: 24px;
    margin-top: 20px;
  }

  
  .cuadrado-wsp {
    width: 150px;
    height: 35px;
  }

  .whastapp-xd {
    width: 30px;
    margin-left: 5px;
  }

  .contactanos {
    margin-top: -25px;
    margin-left: 40px;
    font-size: 14px;
  }

  
  .footer-top-text {
    font-size: 20px;
    text-align: center;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-column {
    font-size: 14px;
  }

  .social-icons img {
    width: 25px;
    margin: 0 4px;
  }

  .footer-bottom {
    font-size: 10px;
    text-align: center;
  }
}


@media screen and (max-width: 1024px) {
  .custom-navbar {
    height: 160px;
  }

  .navbar-brand {
    font-size: 40px;
    text-align: center;
  }

  .nav-img-right {
    top: 80px;
    right: 150px;
    width: 120px;
  }

  .nav-img-lef {
    width: 120px;
    top: 0;
    right: 70%;
  }

  .fondo-img {
    width: 80%;
    height: auto;
  }

  .text-center {
    font-size: 32px;
    margin-top: 30px;
  }

  .cuadrado-wsp {
    width: 180px;
    height: 40px;
  }

  .whastapp-xd {
    width: 35px;
    margin-left: 8px;
  }

  .contactanos {
    margin-top: -28px;
    margin-left: 50px;
    font-size: 16px;
  }

 
  .footer-top-text {
    font-size: 28px;
    text-align: center;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-column {
    font-size: 16px;
  }

  .social-icons img {
    width: 30px;
    margin: 0 5px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}


@media screen and (max-width: 767px) {
  .custom-navbar {
    height: 120px;
  }

  .navbar-brand {
    font-size: 28px;
    text-align: center;
  }

  .nav-img-right {
    top: 60px;
    right: 100px;
    width: 90px;
  }

  .nav-img-lef {
    width: 90px;
    top: 0;
    right: 65%;
  }

  
  .fondo-img {
    width: 100%;
    height: auto;
  }


  .text-center {
    font-size: 24px;
    margin-top: 20px;
  }

  
  .cuadrado-wsp {
    width: 150px;
    height: 35px;
  }

  .whastapp-xd {
    width: 30px;
    margin-left: 5px;
  }

  .contactanos {
    margin-top: -25px;
    margin-left: 40px;
    font-size: 14px;
  }

  
  .footer-top-text {
    font-size: 20px;
    text-align: center;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-column {
    font-size: 14px;
  }

  .social-icons img {
    width: 25px;
    margin: 0 4px;
  }

  .footer-bottom {
    font-size: 10px;
    text-align: center;
  }
}
