html, body {
  overflow-x: hidden;
}


.custom-navbar{
  background-color: #1e459b !important;
  height: 200px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;   
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 52px; 
}

.nav-img-right {
  position: absolute;
  top: 100px;   
  right: 300px;  
  width: 150px;  
  height: auto;
}

.nav-img-lef{
  position: absolute;
  bottom: -10px;    
  right: 75%;       
  transform: translateX(50%); 
  width: 150px;
  top: 0;
}

.img-container{
    width: 100%;
  display: flex;
  justify-content: center;
}

.fondo-img{
    width: 1000px;
    height: auto;   
}

.text-center{
    margin-top: 50px;
    color: #1e459b;
   font-weight: 750; 
   font-size: 40px;
}
 
.cuadrado-wsp{
    background-color: #e5c524 ;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    margin: 0 auto;
}

.whastapp-xd{
    width: 45px;
    margin-left: 10px;
}
.contactanos{
    margin-top: -35px;
    margin-left: 60px;
    color: #1e459b;
     font-family: "Poppins", sans-serif;   
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px; 
}

.video-reproduccion{
  display: flex;
  justify-content: center;   
  margin-top: 50px;  
}



.footer {
  background-color: #1e459b;
  padding: 60px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}


.footer-top-text {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
}

.footer-top-text .yellow {
  color: #e5c524;
}

.footer-top-text .white {
  color: #ffffff;
}

.footer-top-text .green {
  color: #e5c524;
}


.footer-container {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  gap: 10px;
}


.logo {
  width: 300px;
  margin-bottom: 20px;
  height: auto;
}

.subscribe-box label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.subscribe-box input {
  background: #e5c524;
  border-radius: 35px;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #1e459b;
  
}

.subscribe-box {
  margin-left: 50px;
}


.footer-column {
  margin-top: 100px;
  position: relative;
  padding-left: 25px;
}


.footer-column:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}


.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
  font-size: 14px;
  width: fit-content;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  padding: 6px;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 13px;
}


.footer {
  position: relative;
  overflow: hidden;
}

.footer-deco {
  position: absolute;
  width: 130px;
  opacity: 0.9;
  pointer-events: none;
}


.deco1 {
  top: 10px;
  left: 10px;
}


.deco2 {
  bottom: 20px;
  right: 30px;
  top: 35%;
}

.deco3 {
  top: 85%;
  transform: translateY(-50%);
  right: 0px;
}

.deco4{
  top: 25px;
  transform: translateX(1300px) scaleX(-1);
}

@media screen and (max-width: 1024px) {

  .custom-navbar {
    height: 160px;
  }

  .navbar-brand {
    font-size: 40px;
    text-align: center;
  }

  .nav-img-right {
    top: 80px;
    right: 150px;
    width: 120px;
  }

  .nav-img-lef {
    width: 120px;
    top: 0;
    right: 70%;
  }

 
  .video-reproduccion video {
    width: 90%;
    height: auto;
  }

  
  .text-center {
    font-size: 32px;
    margin-top: 30px;
  }

 
  .footer-top-text {
    font-size: 28px;
    text-align: center;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-column {
    font-size: 16px;
  }

  .social-icons img {
    width: 30px;
    margin: 0 5px;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .footer-deco {
    width: 100px;
  }
}


@media screen and (max-width: 767px) {

  .custom-navbar {
    height: 120px;
  }

  .navbar-brand {
    font-size: 28px;
    text-align: center;
  }

  .nav-img-right {
    top: 60px;
    right: 100px;
    width: 90px;
  }

  .nav-img-lef {
    width: 90px;
    top: 0;
    right: 65%;
  }

  
  .video-reproduccion video {
    width: 100%;
    height: auto;
  }

  
  .text-center {
    font-size: 24px;
    margin-top: 20px;
  }

  .footer-top-text {
    font-size: 20px;
    text-align: center;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-column {
    font-size: 14px;
  }

  .social-icons img {
    width: 25px;
    margin: 0 4px;
  }

  .footer-bottom {
    font-size: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .footer-deco {
    width: 80px;
  }
}

