.servicio-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.navbar-mi-servicio h2 {
    text-align: center;
    color: #1e459b;
    font-weight: 700;
    margin-bottom: 20px;
    width: 1400px;
    height: 100px;
}

.titulo-central{
    transform: translateY(50px);
}

.contenedor-superior {
    position: relative;
}

.imagen-fondo {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(0.65);
    z-index: 1;
}

.decoracion-lateral {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 120px;
    transform: translateY(90px);
}

.caja-blanca {
    background: white;
    margin-top: -120px;
    padding: 40px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 20px;
}

.caja-blanca h1 {
    font-size: 38px;
    font-weight: 700;
    color: #1e459b;
}

.caja-blanca .amarillo {
    color: #e5c524;
}

.lista-ofrecemos li {
    margin: 10px 0;
    list-style: none;
    font-size: 28px;
    color: #1e459b;
    transform: translateY(-150px) translateX(40px);
}

.btn-portafolio {
    display: inline-block;
    padding: 18px 55px;
    border-radius: 40px;
    background: #e5c524;
    border: 4px solid #1e459b;
    font-weight: 700;
    color: #1e459b;
    margin-top: 20px;
    text-decoration: none;
    transform: translateY(-650px) translateX(950px);
    width: auto;
    height: auto;
    font-size: 30px;
    z-index: 10px;
    
}

.pregunta1{
   position: relative;
  left: 70px;
  color: #1e459b;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 1px;
  transform: translateY(-150px) translateX(-570px);   
}

.cuadroblanco-señalizado{
  margin-top: 150px;
  background: #ffffff;
  width: 650px;
  height: 200px;
  padding: 18px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 70px;
  color: #1e459b;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;
  border: 1px solid #070707;
  z-index: 10;
  transform: translateY(-200px) translateX(-50px); 
  transition: box-shadow .3s ease;   
}

.cuadroblanco-señalizado:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
}


.señalizacion-textblanco{
    transform: translateY(20px) translateX(90px);
    text-align: left;
}

.color-amarrillo{
    color: #e5c524;
    font-size: 49px;
}
.color-azul{
    color: #1e459b;
    font-size: 49px;
}

.circulo-pa{
    width: 50px;
    height: auto;
    transform: translateY(-475px)  translateX(20px);
}
.circulo-pe{
     width: 50px;
    height: auto;
    transform: translateY(-475px)  translateX(20px);
}

.circulo-pi{
    width: 50px;
    height: auto;
    transform: translateY(-475px)  translateX(20px);
}

.circulo-po{
     width: 50px;
    height: auto;
    transform: translateY(-475px)  translateX(20px);
}

.circulo-pu{
    width: 50px;
    height: auto;
    transform: translateY(-470px)  translateX(20px);
}

.circulo-zi{
    width: 50px;
    height: auto;
    transform: translateY(-465px)  translateX(20px);
}


.decocion1{
    width: 180px;
    height: auto;
    transform: translateY(-1180px)  translateX(20px); 
    z-index: 10;
}

.decocion2{
    width: 180px;
    height: auto;
    transform: translateY(-1360px)  translateX(85px); 
    z-index: 10;
}

.footerx1 {
  background-color: #1e459b;
  padding: 60px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: -620px;
  transform: translateY(-0px);
}


.footer-top-textx1 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
}

.footer-top-textx1 .yellow {
  color: #e5c524;
}

.footer-top-textx1 .white {
  color: #ffffff;
}

.footer-top-textx1 .green {
  color: #e5c524;
}


.footer-containerx1 {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  gap: 10px;
}


.logox1 {
  width: 300px;
  margin-bottom: 20px;
  height: auto;
}

.subscribe-box1 label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.subscribe-box1 input {
  background: #e5c524;
  border-radius: 35px;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #000;
}

.subscribe-boxx1 {
  margin-left: 50px;
}


.footer-columnx1 {
  margin-top: 100px;
  position: relative;
  padding-left: 25px;
}


.footer-columnx1:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}


.footer-columnx1 h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-columnx1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
  font-size: 14px;
  width: fit-content;
}


.social-iconsx1 {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.social-iconsx1 img {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  padding: 6px;
}


.footer-bottomx1 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 13px;
}


.footerx1 {
  position: relative;
  overflow: hidden;
}

.footer-decox1 {
  position: absolute;
  width: 130px;
  opacity: 0.9;
  pointer-events: none;
}


.deco1x2 {
  top: 10px;
  left: 10px;
}


.deco2x3 {
  bottom: 20px;
  right: 30px;
  top: 35%;
}

.deco3x4 {
  top: 85%;
  transform: translateY(-50%);
  right: 0px;
}

.deco4x4{
  top: 25px;
  transform: translateX(1300px) scaleX(-1);
}


@media screen and (max-width: 1024px) {
  .navbar-mi-servicio h2.titulo-central {
    font-size: 32px;
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .imagen-fondo { height: 250px; }

  .caja-blanca {
    margin-top: -80px;
    padding: 20px;
    border-radius: 20px 0 0 20px;
  }

  .cuadroblanco-señalizado {
    width: 90%;
    height: auto;
    transform: translateY(-150px) translateX(0);
    font-size: 28px;
  }

  .pregunta1 {
    font-size: 28px;
    transform: translateY(-120px) translateX(0);
    text-align: center;
  }

  .lista-ofrecemos li {
    font-size: 20px;
    transform: translateY(-120px) translateX(0);
    text-align: left;
  }

  .btn-portafolio {
    font-size: 22px;
    transform: translateY(-400px) translateX(0);
    padding: 12px 35px;
    display: block;
    margin: 20px auto 0 auto;
  }




  /* Footer */
  .footerx1 {
    margin-top: 50px;
    padding: 40px 20px;
  }

  .footer-containerx1 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-columnx1:not(:first-child)::before {
    height: 0;
    width: 0;
  }

  .social-iconsx1 {
    justify-content: center;
  }

  .footer-bottomx1 {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
  }
}

/* Movil */
@media screen and (max-width: 767px) {
  .navbar-mi-servicio h2.titulo-central {
    font-size: 24px;
  }
  
  h2.titulo-central {
    transform: translateY(24px);
    position: static; 
  }
  
  h2.señalizacion-textblanco {
    margin-left: -96px;
  }
 
  .imagen-fondo { height: 200px; }

  .caja-blanca {
    margin-top: -60px;
    padding: 15px;
  }

  .cuadroblanco-señalizado {
    font-size: 20px;
    transform: translateY(-100px) translateX(0);
    width: 340px;
  }

  .pregunta1 {
    font-size: 20px;
    transform: translateY(-80px) translateX(-76px);
  }

  .lista-ofrecemos li {
    font-size: 16px;
    transform: translateY(-80px) translateX(0);
  }

  .btn-portafolio {
    font-size: 18px;
    transform: translateY(-200px) translateX(0);
    padding: 10px 25px;
  }

  .decocion1, .decocion2 {
    transform: translateY(0) translateX(0);
    width: 30px;
    margin: 10px 0;
  }
    .circulo-pa{
     width: 30px;
    transform: translateY(-345px) translateX(0);
  }   

  .circulo-pe{
     width: 30px;
    transform: translateY(-335px) translateX(0);
  }

  .circulo-pi{
     width: 30px;
     transform: translateY(-315px) translateX(0);
  }

  .circulo-po{
    width: 30px;
    transform: translateY(-310px) translateX(0);
  }

  .circulo-pu{
     width: 30px;
    transform: translateY(-300px) translateX(0);
  }
  .circulo-zi{
     width: 30px;
    transform: translateY(-275px) translateX(0);
  }


  .footer-containerx1 {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-top-textx1 {
    font-size: 20px;
    text-align: center;
  }
}

