.bg-azul {
  background-color: #1e459b;
}

.img-derecha {
  width: 100%;
  height:  100%;
  object-fit: cover;
  max-height: auto;
  
}


#intro-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

#intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade-out {
  animation: fadeOut 1.2s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}




.btn-amarillo {
  background-color: #e5c524;
  color: #1e459b !important;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  width: 110px;
  height: 100px;
  transition: 0.3s;
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-amarillo:hover {
  background-color: #e5c524;
  color: #1e459b !important;
  text-decoration: none !important;
}

.btn-amarillo img {
  margin-bottom: 6px;
}

.galeria-3x3 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.galeria-3x3 img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px; 
    transition: box-shadow .3s ease;
}

.galeria-3x3 img:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

@media (max-width: 768px) {
    .galeria-3x3 {
        grid-template-columns: 1fr;
    }

    .galeria-3x3 img {
        height: 200px;
    }
}

.figura-superior {
  background-color: #e5c524;
  border-radius: 20px 20px 0 0;
  padding: 20px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  width: 80%;
}

.img_logo {
  width: 300px;
  height: auto;
  margin-top: -60px;
}

h3 {
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: auto !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.boton-sobre-imagen {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #ffffff;
  color: #1e459b;
  border: none;
  transition: 0.3s;
  width: 200px;
}

.boton-sobre-imagen:hover {
  background-color: #e5c524;
  color: #000;
}

.linea-centro {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #e5c524;
  border-radius: 4px;
  opacity: 1;
}

h3 {
  font-size: 1.6rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 1.3;
}

.resaltar {
  font-weight: bold;
  color: #1e459b;
}

.titulo-grande {
  font-size: 10rem;
  font-weight: 800;
}

.img-tarjeta {
  width: 80%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.clientes {
  background-color: #fff;
  padding: 30px 0;
}

.titulo-clientes {
  color: #1e459b;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.logos-clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logos-clientes img {
  max-width: 120px;
  height: auto;
  transition: transform 0.3s ease;
}

.logos-clientes img:hover {
  transform: scale(1.1);
}

.text-primary-qoribex {
  color: #1e459b;
}



.carrusel-img {
  width: 1550px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  display: block;
   
}



.custom-arrows {
  top: auto !important;
  bottom: 1px !important;
  width: 60px;
  height: 60px;
  opacity: 1 !important;
}


.carousel-control-prev.custom-arrows {
  left: 42% !important;
  transform: translateY(-150px);
}

.carousel-control-next.custom-arrows {
  right: 42% !important;
  transform: translateY(-150px);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 50%;
  background-size: 100%, 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 1550px;
  margin-top: 40px;
}


.footer {
  background-color: #1e459b;
  padding: 60px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}


.footer-top-text {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 25px;
}

.footer-top-text .yellow {
  color: #e5c524;
}

.footer-top-text .white {
  color: #ffffff;
}

.footer-top-text .green {
  color: #e5c524;
}


.footer-container {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  gap: 10px;
}


.logo {
  width: 300px;
  margin-bottom: 20px;
  height: auto;
}

.subscribe-box label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.subscribe-box input {
  background: #e5c524;
  border-radius: 35px;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: #1e459b;
  
}

.subscribe-box {
  margin-left: 50px;
}


.footer-column {
  margin-top: 100px;
  position: relative;
  padding-left: 25px;
}


.footer-column:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}


.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
  font-size: 14px;
  width: fit-content;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  padding: 6px;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-size: 13px;
}


.footer {
  position: relative;
  overflow: hidden;
}

.footer-deco {
  position: absolute;
  width: 130px;
  opacity: 0.9;
  pointer-events: none;
}


.deco1 {
  top: 10px;
  left: 10px;
}


.deco2 {
  bottom: 20px;
  right: 30px;
  top: 35%;
}

.deco3 {
  top: 85%;
  transform: translateY(-50%);
  right: 0px;
}


@media (max-width: 768px) {

  .img_logo {
    width: 180px;
    margin-top: 0;
  }

  .figura-superior {
    width: 100%;
    font-size: 16px;
  }

  .col-md-4 h3 {
    font-size: 1.3rem !important;
    top: 0 !important;
    padding: 0 10px;
  }

  .btn-amarillo {
    width: 90px;
    height: 85px;
  }

  .btn-amarillo img {
    width: 40px !important;
    height: 40px !important;
  }


  .col-md-8 img {
    height: auto !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .boton-sobre-imagen {
    width: 140px;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
  }

  .linea-centro {
    width: 95%;
  }

  h3 {
    font-size: 1.1rem;
    padding: 0 15px;
  }

  .img-tarjeta {
    width: 100%;
    border-radius: 12px;
  }

  .carrusel-img {
    height: 300px !important;
    object-fit: cover;
  }
}


@media (max-width: 768px) {

  .carrusel-personal .carousel-control-prev,
  .carrusel-personal .carousel-control-next {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    opacity: 1 !important;
    z-index: 5 !important;
    width: 50px !important;
    height: 50px !important;
  }

  .carrusel-personal .carousel-control-prev {
    left: 10px !important;
  }

  .carrusel-personal .carousel-control-next {
    right: 10px !important;
  }

  .carrusel-personal .carousel-control-prev-icon,
  .carrusel-personal .carousel-control-next-icon {
    width: 30px !important;
    height: 30px !important;
    background-size: 100% !important;
    background-position: center !important;
  }

  .carrusel-personal .carrusel-img {
    width: 100% !important;
    height: 260px !important;
    object-fit: cover !important;
  }
}

@media (max-width: 768px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .decoracion-superior {
        display: block;
        margin: 10px auto 25px auto; 
        width: 110px; 
    }

    .footer-top-text {
        font-size: 22px;
        line-height: 1.3;
        padding: 0 20px;
    }

    .footer-column {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: center;
    }


    .footer-column::before {
        display: none !important;
    }

    .footer-column h4 {
        margin-bottom: 12px;
        font-size: 18px;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        line-height: 1.8;
        text-align: center;
    }

    .services-section, 
    .services-section ul {
        text-align: center !important;
        margin: 0 auto;
        padding: 0;
    }

    .subscribe-box {
        margin: 0 auto;
        width: 95%;
    }


    .social-icons {
        justify-content: center;
        gap: 15px;
        display: flex;
    }


    .decoracion-inferior {
        display: block;
        margin: 30px auto 10px auto;
        position: static; 
        width: 130px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
}



